In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from scipy.stats import norm

In [3]:
data=pd.read_csv('mtcars.csv')
data.head(10)

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149
5  70  45.696322   89  113.185353  29.591768
6  55  50.013401   92  105.461264  30.308480
7  62  46.716554   50  102.598513  15.847758
8  62  46.716554   50  102.598513  16.359484
9  80  42.299078   94  115.645204  30.920154

In [5]:
data['MPG']

0     53.700681
1     50.013401
2     50.013401
3     45.696322
4     50.504232
        ...
76    36.900000
77    19.197888
78    34.000000
79    19.833733
80    12.101263
Name: MPG, Length: 81, dtype: float64

In [6]:
# P(MPG>38)
stats.norm.cdf(38,data.MPG.mean(),data.MPG.std())

0.6524060748417295

In [7]:
# P(MPG<40)
stats.norm.cdf(40,data.MPG.mean(),data.MPG.std())

0.7293498762151616

In [8]:
# P (20<MPG<50)
stats.norm.cdf(20,data.MPG.mean(),data.MPG.std())-stats.norm.cdf(50,data.MPG.mean(),data.MPG.std())

-0.8988689169682046