### Question no.-01

### 1) Delivery_time -> Predict delivery time using sorting time

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas_profiling as pp
import statsmodels.formula.api as smf
import sweetviz as sv
import warnings
warnings.filterwarnings('ignore')

In [2]:
d_time = pd.read_csv('delivery_time.csv')
d_time.head(10)

   DeliveryTime  SortingTime
0         21.00           10
1         13.50            4
2         19.75            6
3         24.00            9
4         29.00           10
5         15.35            6
6         19.00            7
7          9.50            3
8         17.90           10
9         18.75            9

In [3]:
d_time.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   DeliveryTime  21 non-null     float64
 1   SortingTime   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

In [4]:
sns.distplot(d_time['SortingTime']);

In [5]:
d_time.isnull().sum()

DeliveryTime    0
SortingTime     0
dtype: int64

In [6]:
d_time[d_time.duplicated()]

Empty DataFrame
Columns: [DeliveryTime, SortingTime]
Index: []

In [7]:
d_time.corr()

              DeliveryTime  SortingTime
DeliveryTime      1.000000     0.825997
SortingTime       0.825997     1.000000

In [8]:
d_time.describe()

       DeliveryTime  SortingTime
count     21.000000    21.000000
mean      16.790952     6.190476
std        5.074901     2.542028
min        8.000000     2.000000
25%       13.500000     4.000000
50%       17.830000     6.000000
75%       19.750000     8.000000
max       29.000000    10.000000

In [9]:
# Ploting the distribution plot of DeliveryTime
import seaborn as sns
sns.distplot(d_time['DeliveryTime'])
plt.show()

In [10]:
# Ploting the distribution plot of SortingTime
sns.distplot(d_time['SortingTime'])
plt.show()

In [11]:
sns.pairplot(d_time);

In [12]:
d_time.describe()

       DeliveryTime  SortingTime
count     21.000000    21.000000
mean      16.790952     6.190476
std        5.074901     2.542028
min        8.000000     2.000000
25%       13.500000     4.000000
50%       17.830000     6.000000
75%       19.750000     8.000000
max       29.000000    10.000000

In [13]:
#heatmap is used to detect the missing value, Red representrs the missing values
import seaborn as sns
cols = d_time.columns
colours = ['red', 'blue']
sns.heatmap(d_time[cols].isnull(),
           cmap=sns.color_palette(colours));

In [14]:
d_time.boxplot();

In [15]:
sns.regplot(x='SortingTime', y='DeliveryTime', data=d_time);

### Model Building

In [16]:
import statsmodels.formula.api as smf
model = smf.ols('DeliveryTime~SortingTime', data=d_time).fit()

In [17]:
model.params

Intercept      6.582734
SortingTime    1.649020
dtype: float64

In [18]:
print(model.rsquared, model.rsquared_adj)

0.6822714748417231 0.6655489208860244

In [19]:
print(model.pvalues, model.tvalues)

Intercept      0.001147
SortingTime    0.000004
dtype: float64 Intercept      3.823349
SortingTime    6.387447
dtype: float64

In [20]:
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:           DeliveryTime   R-squared:                       0.682
Model:                            OLS   Adj. R-squared:                  0.666
Method:                 Least Squares   F-statistic:                     40.80
Date:                Mon, 13 Mar 2023   Prob (F-statistic):           3.98e-06
Time:                        13:29:43   Log-Likelihood:                -51.357
No. Observations:                  21   AIC:                             106.7
Df Residuals:                      19   BIC:                             108.8
Df Model:                           1
Covariance Type:            nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       6.5827      1.722      3.823      0.001       2.979      10.186
SortingTime     1.6490      0.258      6.387      0.000       1.109       2.189
==============================================================================
Omnibus:                        3.649   Durbin-Watson:                   1.248
Prob(Omnibus):                  0.161   Jarque-Bera (JB):                2.086
Skew:                           0.750   Prob(JB):                        0.352
Kurtosis:                       3.367   Cond. No.                         18.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [21]:
model_1 = smf.ols('np.log(DeliveryTime)~SortingTime',data=d_time).fit()
model_1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     np.log(DeliveryTime)   R-squared:                       0.711
Model:                              OLS   Adj. R-squared:                  0.696
Method:                   Least Squares   F-statistic:                     46.73
Date:                  Mon, 13 Mar 2023   Prob (F-statistic):           1.59e-06
Time:                          13:29:43   Log-Likelihood:                 7.7920
No. Observations:                    21   AIC:                            -11.58
Df Residuals:                        19   BIC:                            -9.495
Df Model:                             1
Covariance Type:              nonrobust
===============================================================================
                  coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------
Intercept       2.1214      0.103     20.601      0.000       1.906       2.337
SortingTime     0.1056      0.015      6.836      0.000       0.073       0.138
==============================================================================
Omnibus:                        1.238   Durbin-Watson:                   1.325
Prob(Omnibus):                  0.538   Jarque-Bera (JB):                0.544
Skew:                           0.393   Prob(JB):                        0.762
Kurtosis:                       3.067   Cond. No.                         18.3
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [22]:
model_2 = smf.ols('np.log(DeliveryTime)~np.log(SortingTime)',data=d_time).fit()
model_2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     np.log(DeliveryTime)   R-squared:                       0.772
Model:                              OLS   Adj. R-squared:                  0.760
Method:                   Least Squares   F-statistic:                     64.39
Date:                  Mon, 13 Mar 2023   Prob (F-statistic):           1.60e-07
Time:                          13:29:43   Log-Likelihood:                 10.291
No. Observations:                    21   AIC:                            -16.58
Df Residuals:                        19   BIC:                            -14.49
Df Model:                             1
Covariance Type:              nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               1.7420      0.133     13.086      0.000       1.463       2.021
np.log(SortingTime)     0.5975      0.074      8.024      0.000       0.442       0.753
==============================================================================
Omnibus:                        1.871   Durbin-Watson:                   1.322
Prob(Omnibus):                  0.392   Jarque-Bera (JB):                1.170
Skew:                           0.577   Prob(JB):                        0.557
Kurtosis:                       2.916   Cond. No.                         9.08
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [23]:
(model_2.rsquared , model_2.rsquared_adj)

(0.77216134926874, 0.7601698413355158)

In [24]:
d_time['SortingTime_sq'] = d_time.SortingTime**2
model_3 = smf.ols('np.log(DeliveryTime)~np.log(SortingTime + SortingTime_sq)',data=d_time).fit()
model_3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
================================================================================
Dep. Variable:     np.log(DeliveryTime)   R-squared:                       0.769
Model:                              OLS   Adj. R-squared:                  0.757
Method:                   Least Squares   F-statistic:                     63.34
Date:                  Mon, 13 Mar 2023   Prob (F-statistic):           1.81e-07
Time:                          13:29:43   Log-Likelihood:                 10.157
No. Observations:                    21   AIC:                            -16.31
Df Residuals:                        19   BIC:                            -14.23
Df Model:                             1
Covariance Type:              nonrobust
========================================================================================================
                                           coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------------------
Intercept                                1.5875      0.153     10.372      0.000       1.267       1.908
np.log(SortingTime + SortingTime_sq)     0.3267      0.041      7.959      0.000       0.241       0.413
==============================================================================
Omnibus:                        1.923   Durbin-Watson:                   1.312
Prob(Omnibus):                  0.382   Jarque-Bera (JB):                1.194
Skew:                           0.583   Prob(JB):                        0.551
Kurtosis:                       2.930   Cond. No.                         17.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [25]:
(model_3.rsquared, model_3.rsquared_adj)

(0.769245191508332, 0.757100201587718)

### Model Prediction

In [26]:
# model_2 has the R-squared:	0.772 which is considered to be a good model and the prediction are made from model_3
a = int(input('Enter the sorting time: '))
newtime = pd.Series([a])
d_time_pred = pd.DataFrame(newtime, columns=['SortingTime'])
b=model_2.predict(d_time_pred)
print('The Delivery Time: ',b)

Enter the sorting time: 10
The Delivery Time:  0    3.117833
dtype: float64

In [27]:
#The entire anallysis report is shown in html file
import sweetviz as sv
sweet_report = sv.analyze(d_time)
sweet_report.show_html('Sorting_delivery.html')

                                             |                                             | [  0%]   00:00 ->…

Report Sorting_delivery.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

## Question no.-2

### 2) Salary_hike -> Build a prediction model for Salary_hike

In [28]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.formula.api as smf
import sweetviz as sv

In [29]:
salary = pd.read_csv('Salary_Data.csv')
salary.head(10)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0
5              2.9  56642.0
6              3.0  60150.0
7              3.2  54445.0
8              3.2  64445.0
9              3.7  57189.0

In [30]:
salary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 608.0 bytes

In [31]:
salary.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [32]:
salary[salary.duplicated()].shape

(0, 2)

In [33]:
salary.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [34]:
sns.distplot(salary['YearsExperience']);

In [35]:
sns.distplot(salary['Salary']);

In [36]:
sns.pairplot(salary);

In [37]:
salary.boxplot();

In [38]:
sns.regplot(x='YearsExperience', y='Salary',data=salary);

In [39]:
# Heat map
cols = salary.columns
colours = ['yellow','blue']
sns.heatmap(salary[cols].isnull(),
           cmap=sns.color_palette(colours));

In [40]:
import sweetviz as sv
sweet_report = sv.analyze(salary)
sweet_report.show_html('Salary.html')

                                             |                                             | [  0%]   00:00 ->…

Report Salary.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [41]:
m1 = smf.ols('Salary~YearsExperience', data=salary).fit()
m1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                 Salary   R-squared:                       0.957
Model:                            OLS   Adj. R-squared:                  0.955
Method:                 Least Squares   F-statistic:                     622.5
Date:                Mon, 13 Mar 2023   Prob (F-statistic):           1.14e-20
Time:                        13:30:05   Log-Likelihood:                -301.44
No. Observations:                  30   AIC:                             606.9
Df Residuals:                      28   BIC:                             609.7
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept        2.579e+04   2273.053     11.347      0.000    2.11e+04    3.04e+04
YearsExperience  9449.9623    378.755     24.950      0.000    8674.119    1.02e+04
==============================================================================
Omnibus:                        2.140   Durbin-Watson:                   1.648
Prob(Omnibus):                  0.343   Jarque-Bera (JB):                1.569
Skew:                           0.363   Prob(JB):                        0.456
Kurtosis:                       2.147   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [42]:
m1.params

Intercept          25792.200199
YearsExperience     9449.962321
dtype: float64

In [43]:
(m1.rsquared, m1.rsquared_adj)

(0.9569566641435086, 0.9554194021486339)

In [44]:
m2 = smf.ols('np.log(Salary)~YearsExperience', data=salary).fit()
m2.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(Salary)   R-squared:                       0.932
Model:                            OLS   Adj. R-squared:                  0.930
Method:                 Least Squares   F-statistic:                     383.6
Date:                Mon, 13 Mar 2023   Prob (F-statistic):           7.03e-18
Time:                        13:30:06   Log-Likelihood:                 28.183
No. Observations:                  30   AIC:                            -52.37
Df Residuals:                      28   BIC:                            -49.56
Df Model:                           1
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
Intercept          10.5074      0.038    273.327      0.000      10.429      10.586
YearsExperience     0.1255      0.006     19.585      0.000       0.112       0.139
==============================================================================
Omnibus:                        0.826   Durbin-Watson:                   1.438
Prob(Omnibus):                  0.661   Jarque-Bera (JB):                0.812
Skew:                           0.187   Prob(JB):                        0.666
Kurtosis:                       2.286   Cond. No.                         13.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [45]:
m3 = smf.ols('np.log(Salary)~np.log(YearsExperience)',data=salary).fit()
m3.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:         np.log(Salary)   R-squared:                       0.905
Model:                            OLS   Adj. R-squared:                  0.902
Method:                 Least Squares   F-statistic:                     267.4
Date:                Mon, 13 Mar 2023   Prob (F-statistic):           7.40e-16
Time:                        13:30:06   Log-Likelihood:                 23.209
No. Observations:                  30   AIC:                            -42.42
Df Residuals:                      28   BIC:                            -39.61
Df Model:                           1
Covariance Type:            nonrobust
===========================================================================================
                              coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------------
Intercept                  10.3280      0.056    184.868      0.000      10.214      10.442
np.log(YearsExperience)     0.5621      0.034     16.353      0.000       0.492       0.632
==============================================================================
Omnibus:                        0.102   Durbin-Watson:                   0.988
Prob(Omnibus):                  0.950   Jarque-Bera (JB):                0.297
Skew:                           0.093   Prob(JB):                        0.862
Kurtosis:                       2.549   Cond. No.                         5.76
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [46]:
#from the best modelcreated the salary is calculated from the years of experience
#m1 is the best model and accuracy= 0.956
c = float(input('Enter the Years of Experience: '))
salary = pd.Series([c])
salary_pred = pd.DataFrame(salary, columns=['YearsExperience'])
d = m1.predict(salary_pred)
print('Salary: ',d)

Enter the Years of Experience: 2
Salary:  0    44692.124842
dtype: float64