## Question - 1

A F&B manager wants to determine whether there is any significant difference in the diameter of the cutlet between two units. A randomly selected sample of cutlets was collected from both units and measured? Analyze the data and draw inferences at 5% significance level. Please state the assumptions and tests that you carried out to check validity of the assumptions.

In [1]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [2]:
ct = pd.read_csv("Cutlets.csv")
ct.head(10)

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522
5  7.3871  6.8110
6  6.8755  7.2212
7  7.0621  6.6606
8  6.6840  7.2402
9  6.8236  7.0503

In [3]:
#Null hypothesis, H0: No difference in the daimeter of the cutlets between Unit A and Unit B
#Alternative hypothesis, H1: There is significant difference in the diameter of the cutlets between two Units

In [5]:
A = pd.Series(ct.iloc[:,0])
B = pd.Series(ct.iloc[:,1])

In [6]:
stats.ttest_ind(A,B, alternative = 'two-sided')

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)

In [7]:
stats.ttest_ind(A,B, alternative = 'two-sided')[1]

0.4722394724599501

significane value (alpha) is 5% and p_value is 47%
Since P_value is greater than significance value, p > alpha

There for Null hypothesis is True

No difference in the diameter of the cutlet between the two units.

## Question no - 02

A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch. Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.

In [9]:
import pandas as pd
import numpy as np
import scipy
from scipy import stats

In [10]:
LT = pd.read_csv('LabTAT.csv')
LT.head(10)

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60
5        179.45        197.00        181.51        161.12
6        191.37        166.36        214.21        154.02
7        166.81        169.60        183.43        163.25
8        158.81        175.36        191.60        152.79
9        165.88        198.68        208.43        161.98

In [11]:
stats.f_oneway(LT.iloc[:,0],LT.iloc[:,1],LT.iloc[:,2],LT.iloc[:,3])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

In [12]:
stats.f_oneway(LT.iloc[:,0], LT.iloc[:,1],LT.iloc[:,2],LT.iloc[:,3])[1]

2.1156708949992414e-57

In [13]:
p_value = 2.1156708949992414e-57
alpha = 0.05
print('significance=%.2f, p=%.2f' %(alpha,p_value))
if p_value <= alpha:
    print('There is difference in average TAT among the different laboratories & reject the Null hypothesis')
else:
    print('There is no difference in average TAT among the different laboratories & accept the Null hypothesis')

significance=0.05, p=0.00
There is difference in average TAT among the different laboratories & reject the Null hypothesis

## Question no - 03

Sales of products in four different regions is tabulated for males and females. Find if male-female buyer rations are similar across regions.

In [17]:
from scipy.stats import chi2_contingency
#H0: all proportions are equal
#H1: not all proportions are equal

In [14]:
BR = pd.read_csv("BuyerRatio.csv")
BR.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [15]:
BR = BR.set_index('Observed Values')

In [18]:
sts, p, dof, expected = chi2_contingency(BR)

In [19]:
sts

1.595945538661058

In [20]:
p

0.6603094907091882

In [21]:
dof

3

In [22]:
expected

array([[  42.76531299,  146.81287862,  131.11756787,   72.30424052],
       [ 442.23468701, 1518.18712138, 1355.88243213,  747.69575948]])

In [23]:
alpha = 0.05
p = 0.6603094907091882
print('significance=%.2f, p=%.2f' %(alpha, p))
if p <= alpha:
    print('all proportions are not equal and reject null hypothesis(H0)')
else:
    print('all proportions are equal and fail to reject null hypothesis(H0)')

significance=0.05, p=0.66
all proportions are equal and fail to reject null hypothesis(H0)

## Questio - 04

TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences.

In [24]:
TeleCall = pd.read_csv('Costomer+OrderForm.csv')
TeleCall.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [25]:
TeleCall.value_counts()

Phillippines  Indonesia   Malta       India
Error Free    Error Free  Error Free  Error Free    206
Defective     Error Free  Error Free  Error Free     21
Error Free    Defective   Error Free  Error Free     20
              Error Free  Defective   Error Free     18
                          Error Free  Defective      16
              Defective   Defective   Error Free      9
Defective     Error Free  Defective   Error Free      4
              Defective   Error Free  Error Free      2
              Error Free  Error Free  Defective       2
Error Free    Defective   Error Free  Defective       2
dtype: int64

In [26]:
print(TeleCall['Phillippines'].value_counts(),
      TeleCall['Indonesia'].value_counts(),
     TeleCall['Malta'].value_counts(),
     TeleCall['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64 Error Free    267
Defective      33
Name: Indonesia, dtype: int64 Error Free    269
Defective      31
Name: Malta, dtype: int64 Error Free    280
Defective      20
Name: India, dtype: int64

In [28]:
observed = [[271,267,269,280],[29,33,31,20]]
observed

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [29]:
stat1, p1, dof1, expected1 = chi2_contingency(observed)

In [30]:
stat1

3.858960685820355

In [31]:
p1

0.2771020991233135

In [32]:
dof1

3

In [33]:
expected1

array([[271.75, 271.75, 271.75, 271.75],
       [ 28.25,  28.25,  28.25,  28.25]])

In [34]:
alpha1 = 0.05
p1 = 0.2771020991233135
print('significance=%.2f, p=%.2f' %(alpha1, p1))
if p1 <= alpha1:
    print('dependent & reject the null hyopthesis ')
else:
    print('Independent & accept the null hypothesis')

significance=0.05, p=0.28
Independent & accept the null hypothesis